* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: #1a1b26;
    color: #a9b1d6;
}

/* Workspaces */
#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0;
    color: #444b6a;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
}

#workspaces button:not(.empty) {
    color: #7aa2f7;
}

#workspaces button.active {
    color: #0db9d7;
    border-bottom: 3px solid #ad8ee6;
}

#workspaces button.active:not(.empty) {
    color: #0db9d7;
    border-bottom: 3px solid #ad8ee6;
}

#workspaces button.urgent {
    color: #f7768e;
    border-bottom: 3px solid #f7768e;
}


/* Separators */
#custom-separator {
    color: #444b6a;
    padding: 0 2px;
}

/* Active submap */
#submap {
    color: #a9b1d6;
    padding: 0 5px;
}

/* Active window */
#window {
    color: #ad8ee6;
    padding: 0 8px;
}

/* Kernel */
#custom-kernel {
    color: #f7768e;
    padding: 0 8px;
}

/* CPU */
#cpu {
    color: #e0af68;
    padding: 0 8px;
}

/* Memory */
#memory {
    color: #0db9d7;
    padding: 0 8px;
}

/* Disk */
#disk {
    color: #7aa2f7;
    padding: 0 8px;
}

/* Clock */
#clock {
    color: #0db9d7;
    padding: 0 8px;
}

/* Tray */
#tray {
    padding: 0 6px;
}
